.visualization-page {
  display: flex;
  flex-direction: row;
}

.visualization-page .buttons > * {
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  padding: 4px 10px;
  margin-right: 4px;
}

.visualization-page .visualization {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.visualization-page .active, .visualization-page .buttons > *:hover {
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
}

.visualization-header {
  display: flex;
  flex-direction: column;
}