.visualization-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.visualization-page .buttons > * {
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  padding: 4px 10px;
  margin-right: 4px;
}

.visualization-page .active, .visualization-page .buttons > *:hover {
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
}

.visualization-header {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.visualization-info {
  margin-top: 20px;
}

.visualization-info p {
  text-align: justify;
  margin-top: 5px;
  border: 2px double dodgerblue;
  padding: 4px;
  background: white;
}