.mood-record {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0;
}

.mood-record .description {
  margin-left: 10px;
}

.mood-record > :first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.mood-record > :nth-child(2) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}