
.register-mood-page {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  width: 300px;
}

.tag-form-container {
  position: fixed;
  right: 30px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.why {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
}

.why h3 {
  text-align: center;
  margin-bottom: 10px;
}

.why input {
  padding: 10px 20px;
}

.btn { background-color: dodgerblue; align-self: flex-end;}
.btn:hover { background-color: deepskyblue; }

.create-tag-btn {
  padding: 4px 10px;
}