.flower-visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flower-visualization h1 {
  width: max-content;
  border-bottom: 5px solid deepskyblue;
  margin-bottom: 20px;
}

.flower-visualization-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 0px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  background: white;
  padding: 20px;
}

.flower-visualization-content > * {
  margin: 5px;
  cursor: pointer;
  transition-duration: 1s;
}

.flower-visualization-content > *:hover {
  transform: rotateY(360deg);
}

.credits {
  padding: 10px;
  background: dodgerblue;
  color: white;
  width: 250px;
  box-sizing: border-box;
  border: 0px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.credits a {
  color: white;
}