
.form {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.why {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.why h3 {
  text-align: center;
  margin-bottom: 10px;
}

.why input {
  padding: 10px 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.tags { margin-bottom: 50px; }
.tags > * { margin: 1px; }

.selected {
  color: black !important;
  font-weight: bold;
}

.register-btn {
  background-color: deepskyblue;
  font-weight: bold;
}

.register-btn:hover { background-color: dodgerblue; }