.grid-visualization {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 1px 1px 1px 0 dodgerblue;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

.days-header {
  display: grid;
  grid-template-columns: 40px repeat(31, 25px);
  grid-template-rows: 25px;
  grid-gap: 2px;
  margin: 0 10px;
  font-family: 'Pacifico', cursive;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
}